<h1>All Consumers</h1>

<ul id="articles">
  <% @consumers.each do |consumer| %>
    <li>
      <%= link_to consumer.username, consumer_path(consumer) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Consumer", new_consumer_path %>
