<div class= "login-registration-form">
  <h1>Signup for ParlayVous</h1>
  <%= render 'consumers/form' %>
</div>

<script>
// jquery mask
$(document).ready(function(){
  $('#phone_us').mask('(000)-000-0000');
})
</script>
