<h1>Orders</h1>

<% @orders.each do |order| %>
<% @deal = Deal.find(order.deal_id)%>
  <ul>
  	<!-- <li><strong>Deal name:</strong> <%#= order.deal_id %></li>-->
	  <li><strong>Deal Name: </strong><%= link_to "#{@deal.name}", @deal %>
</li>
      <%= link_to 'Order/Shipping Details', order %>
    </li>
  </ul>
<% end %>

<%= link_to 'Back To Consumer Home', consumer_path(current_consumer)%>


<!-- <%# link_to 'New Deal', new_deal_path %> -->
