<h1>Orders</h1>
<<<<<<< HEAD
<!-- <% @deal %> -->
=======
>>>>>>> 8b062307b01576004a546fa5dd82fd94f18ab33b
<% @orders.each do |order| %>
<% @deal = Deal.find(order.deal_id)%>
  <ul>
  	<!-- <li><strong>Deal name:</strong> <%#= order.deal_id %></li>-->
	  <li><strong>Deal Name:</strong> <%= @deal.name %></li>
      <%= link_to 'Order Details', order %>
    </li>
  </ul>
<% end %>

<%= link_to 'Back To Consumer Home', consumer_path(current_consumer)%>


<!-- <%# link_to 'New Deal', new_deal_path %> -->
