<div class = "deals_list">
<hr>
<p class="main_title">Place Your Bet</p>
<hr>
<br><br>
<% @deals.each do |deal| %>
  <% if deal.orders.count < deal.threshold %>
  <ul class = "deal_block">

      <li class="image_product"><%= link_to(image_tag("#{deal.url}", :size => "300x250"), deal)%></li>
      <br>
      <li class="filter_labels"><strong>Product:</strong> <%= deal.name %></li>
      <li class="filter_labels"><strong>Ticket price:</strong> <%= number_to_currency(deal.price) %></li>
  </ul>
  <% end %>
<% end %>
</div>