/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#navbar_container {
	background-color: #000080;
	padding: 10px;
	width: 102%;
	margin-left: -1vw;
	margin-top: -1.3vh;
}

#body {
	background-color: #E6E6DC;
}


.deals_list {
	background-color: white;
	border-radius: 5px;
	padding-left: 2vw;
	margin-left: 0vw;
	padding-top: .1vh;
	margin-top: 3vh;
	padding-bottom: 1vh;
}

a {
	text-decoration: none;
}

a:visited {
	color: blue;
}

.navbar a{
	color: white;
}
.navbar li {
	color: white;
	display: inline;
	margin-right: 23vw;
	margin-left: 3vw;
}

.navbar a:hover {
	color: grey;
}

.deal_block {
	display: inline-block;
}

.display_deal {
	text-align: center
}

