/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
} 

body {
	background-color: white;
	font-family: 'Hind', sans-serif;
}

.filter_labels {
	font-size: 1vw;
}

.main_title {
	text-align: center;
	font-size: 2vw;
  margin: 0px;
}

.filters {
	float: left;
	padding-bottom: 25vh;
	border-radius: 5px;
	border: solid black 1px;
	width: auto;
	margin-top: 0vh;
}
#home_link a {
	font: #2274a5;
}


.navbar {
	opacity: .9;
	margin-top: -5px;
	position: fixed;
	background-color: white;
	border-bottom: solid #E6E6E6 1px;
	width: 100vw;
	z-index: 9999;
	height: auto;
	padding: 2.5px;
	box-shadow: 0px 0 10px  #E6E6E6;
}
.login_link {
	float: right;
}
/*#root_body{
	background-image: linear-gradient(top, white 30%, #2274A5 400%);
  	background-image: -webkit-linear-gradient(top, white 30%, #2274A5 600%);
	background-image: -moz-linear-gradient(top, white 30%, #2274A5 400%);
 	background-image: linear-gradient(top, white 30%, #2274A5 400%);
}*/

.filters p {
	font-size: 1.3vw;
	margin-left: 2vw;
	border-bottom: 2px solid #2274A5;
	width: 60%;
	/*text-align: center;*/
}

a {
	text-decoration: none;
	font-size: 1.3vw;
}

/*a:visited {
	color: blue;
}*/

.navbar a{
	color: black;
}
.navbar #home_link a{
	color: #2274A5;
}
.navbar li {
	color: white;
	display: inline;
	margin-right: 2vw;
	margin-left: 2vw;
	height: 80%;

}

.navbar a:hover {
	color: #e83f6f;
}

.deal_block {
	display: inline-block;
}

.display_deal {
	text-align: center
}

.points_link{
	color: black;
	padding-right: 1vw;
}
.points {
	color: #e83f6f;
	border-right: solid black 1px;
	padding-right: 1vw;
}
.pay_with_points{
	display:inline-block;
}

.points-order-button{
	width: 10vw;
	height: 5.5vh;
	padding-top: .7vh;
	color: white;
	background-color: blue;
	border: solid blue 1px;
	border-radius: 5px;
}

.checkout_options{
	margin-left: -2vw;
}

.pluginButtonContainer{
}

#info-image{
	width: .7vw;
}

.info-image-for-texts:hover {
/*	cursor: pointer;
*/}


#info-image-for-texts {
    position:relative;
    cursor:help;
    font-size: 1.2vw;
}
    #info-image-for-texts #popup {
        position:absolute;
        width:16vw;
/*        margin-right:-22vw;  width + left/right padding 
*/        margin-top: -1.9vw;
        padding:1.2vw;
        color:#fff;
        font-size: .8vw;
        background:gray;
        -webkit-box-shadow:2px 2px 5px #aaa;
           -moz-box-shadow:2px 2px 5px #aaa;
                box-shadow:2px 2px 5px #aaa;
        opacity:0;
        -webkit-transition:opacity 250ms ease-out;
           -moz-transition:opacity 250ms ease-out;
            -ms-transition:opacity 250ms ease-out;
             -o-transition:opacity 250ms ease-out;
                transition:opacity 250ms ease-out;
    }
        /* <http://css-tricks.com/snippets/css/css-triangle/> */
        #info-image-for-texts #popup:before {
            content:' '; /* Must have content to display */
            position:absolute;
			  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
			  -moz-transform: rotate(180deg);        /* FF */
			  -o-transform: rotate(180deg);          /* Opera */
			  -ms-transform: rotate(180deg);         /* IE9 */
			  transform: rotate(180deg);             /* W3C compliant browsers */

            top:50%;
            right:-1.7vw; /* 2 x border width */
            margin-top:-1vw; /* - border width */
            border:.65vw solid transparent;
            border-right-color:#333;
        }
        #info-image-for-texts:hover #popup {
            left:-13.3vw;
            opacity:1;
        }

.consumer_edit_form p {
	font-size: 1.3vw;
}

#dropdown-links{ 
	margin-left: .3vw;
	border-bottom: dashed black 1px;
}
#socialmedia li {
	display: inline;
	padding-right: 1vw;
}
#ft-fb {
	opacity: .7;
}
#ft-fb:hover {
	opacity: 1;
}
#ft-twr {
	opacity: .7;
}
#ft-twr:hover {
	opacity: 1;
}#ft-mail {
	opacity: .7;
}
#ft-mail:hover {
	opacity: 1;
}

#dropdown-image img{
	margin-top: 1vw;
}

#dropdown-links a{
	font-size: 1.3vw;
}

.footer {
	text-align: center;
	background-color: #2274A5;
	box-shadow: 0px 0 10px  #2274A5;
	opacity: 0.8;
	padding-top: 1vh;
}
.footercopy a {
	color: #ffffff;
}
.footercopy {
	padding-top: 2vh;
	display: inline;
}