/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin: 0;
}

.deal_block {
	margin-left: 3.5vw;
	margin-right: 3.5vw;
}

.navbar {
	background-color: white;
	border-bottom: solid black 1px;
	padding: 10px;
	width: 97vw;
	z-index: 9999;
	margin-left: auto;
	margin-right: auto;
	height: 4vh;
	/*position: fixed;*/

}

#body {
	background-color: white;
	font-family: 'Hind', sans-serif;
}


.deals_list {
	background-color: white;
	/*border-radius: 5px;*/
	border: solid black 1px;
	padding-left: 2vw;
	margin-left: 0vw;
	padding-top: .1vh;
	margin-top: 0.5vh;
	padding-bottom: 1vh;
	width: 67vw;
	margin-left: auto ;
  margin-right: 0.5vw;
	float:right;
}

.consumer_column {
	background-color: white;
	/*border-radius: 5px;*/
	border: solid black 1px;
	/*padding-left: 2vw;*/
	margin-left: 0.5vw;
	padding-top: .1vh;
	margin-top: 0.5vh;
	padding-bottom: 1vh;
	width: 27vw;
	/*margin-left: auto ;*/
  margin-right: auto ;
	float:left;
	position: fixed;
}

a {
	text-decoration: none;
}

a:visited {
	color: blue;
}

.navbar a{
	color: black;
}
.navbar li {
	color: white;
	display: inline;
	margin-right: 23vw;
	margin-left: 3vw;
}

.navbar a:hover {
	color: grey;
}

.deal_block {
	display: inline-block;
}

.display_deal {
	text-align: center
}
