.consumer_edit_form {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  border-radius: 5px;
  color: white;
  background-color: #E83F6F;
  text-align: center;
}

#update_title {
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
}

.consumer_edit_form a {
  color: white;
  text-decoration: underline;
}

.consumer_edit_form a:visited {
  color: white;
  text-decoration: underline;
}

.consumer_edit_form a:hover {
  color: #2274A5;
  text-decoration: underline;
}
