/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
	/*font-family: sans-serif, Muli;*/
}

.deal_image_div{
	float: left;
	margin-left: 3vw;
	margin-top: 2vw;
	width: 45%;
}

.deal_description_display h1{
	font-size: 2vw;
}

.deal_description_display li{
	font-size: 1.2vw;
}

.deal_description_display h3{
	font-size: 1.4vw;
}

.deal_description_display p{
	font-size: 1.4vw;
}

.deal_show_image_tag {
	width: 100%;
	height: 100%;
}

.stripe-button-el {
	width: 10vw;

}


.deal_description_div{
	float: left;
	margin-left: 0vw;
	margin-top: 2vh;
	width: 40%;
}

.deal_description_display form{
	font-size: 1.4vw;
}

#new_deal_link a{
	color: black;
	margin-left: .8vw;
	padding-left: 1vw;
}

#new_deal_link a:hover{
	color: white;
	background-color: black;
	border-radius: 2vw;
	padding-right: 1vw;
}
