/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.deal_block {
	/*margin-left: 3.5vw;
	margin-right: 3.5vw;*/
	width: 24vw;
}
.deals_list {
	background-color: white;
	/*border-radius: 5px;*/
	/*border: solid black 1px;*/
	padding-left: 1.5vw;
	padding-top: 5vh;
	margin-top: 0.5vh;
	padding-bottom: 1vh;
	/*width: 67vw;*/
/*	background-image: linear-gradient(top, white 30%, #2274A5 400%);
  	background-image: -webkit-linear-gradient(top, white 30%, #2274A5 600%);
	background-image: -moz-linear-gradient(top, white 30%, #2274A5 400%);
 	background-image: linear-gradient(top, white 30%, #2274A5 400%);*/
 	border-radius: 10px;
}
.deals_list hr {
	width: 40%;
	border: 1px solid #2274A5;
	/*opacity: 0.5;*/
}

.image_product a:hover {
	border-bottom: solid #E83F6F 3px;
	opacity: .8;
}

.deal_image_div{
	float: left;
	margin-left: 3vw;
	margin-top: 2vw;
	/*width: 45%;*/
}

.deal_description_display h1{
	font-size: 2vw;
}

.deal_description_display li{
	font-size: 1.2vw;
}

.deal_description_display h3{
	font-size: 1.4vw;
}

.deal_description_display p{
	font-size: 1.4vw;
}

.deal_show_image_tag {
	width: 100%;
	height: 100%;
}

.stripe-button-el {
	width: 10vw;

}


.deal_description_div{
	float: left;
	margin-left: 0vw;
	margin-top: 2vh;
	width: 40%;
}

.deal_description_display form{
	font-size: 1.4vw;
}

#new_deal_link a{
	color: black;
	margin-left: .8vw;
	padding-left: 1vw;
}

#new_deal_link a:hover{
	color: white;
	background-color: black;
	border-radius: 2vw;
	padding-right: 1vw;
}

.supplier-deals-list{
	display: inline-block;
}
