<div class = "about-section">
	<ul>
		<h2><strong>About ParlayVous</strong></h2>
		<li id = "description-title">What It Is</li>
		<li id = "description">
			ParleyVous is an online raffle hosting site were you can win cool items. We focus on electronics and video games.
		</li>
		<br/>
		<li id = "description-title">How It Works</li>
		<li id = "description">
			<p>1. Find a product you like.</p>
			<p>2. Buy in to get a chance to win that product. ParlayVous will reward you with one point for every purchase.</p>
			<p>3. Wait while other players buy in to the raffle.</p>
			<p>4. As soon as enough people buy in, the raffle takes place.</p>
			<p>5. Finally: you win! …or try again with another product.</p>
		</li>
		<br/>
		<li id = "description-title">Who We Are</li>
		<li id = "description">
			We are three wyncoders with different backgrounds that came together to build an awesome idea. We are the team behind ParlayVous.
		</li>
	</ul>
</div>
